<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registrations</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 2px solid #000000;
      padding: 10px;
    }
    th {
        font-weight: bold;
        font-size: 20px;

    }
    h2{
        text-align: center;
        font-weight: bold;
        font-size: 30px;
    }
  </style>
</head>
<body>
  <h2>Registered Events</h2>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Payment</th>
        <th>Category</th>
        <th>Event</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in data %}
      <tr>
        <td>{{ entry.name }}</td>
        <td>{{ entry.email }}</td>
        <td>{{ entry.phone }}</td>
        <td>{{ entry.payment_method }}</td>
        <td>{{ entry.event_category }}</td>
        <td>{{ entry.event_name }}</td>
        <td>₹{{ entry.event_price }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7">No registrations yet.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
