body {
  margin: 0;
  overflow-X: hidden;
  overflow: hidden;
  font-family: "Raleway", "Roboto", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  user-select: none;
  width: 100%;
  height: 105vh;
  /* background: linear-gradient(to bottom, rgb(10, 10, 50) 0%, rgb(60, 10, 60) 100%); */
  /* background-color: #280E3E; */
  /* vertical-align: middle; */
  /* background:#280E3E; */
  /* background-blend-mode: overlay; */
  /* background-size: cover; */
  background-image: linear-gradient(116deg, rgba(232, 232, 232, 0.03) 0%, rgba(232, 232, 232, 0.03) 10%,rgba(14, 14, 14, 0.03) 10%, rgba(14, 14, 14, 0.03) 66%,rgba(232, 232, 232, 0.03) 66%, rgba(232, 232, 232, 0.03) 72%,rgba(44, 44, 44, 0.03) 72%, rgba(44, 44, 44, 0.03) 81%,rgba(51, 51, 51, 0.03) 81%, rgba(51, 51, 51, 0.03) 100%),linear-gradient(109deg, rgba(155, 155, 155, 0.03) 0%, rgba(155, 155, 155, 0.03) 23%,rgba(30, 30, 30, 0.03) 23%, rgba(30, 30, 30, 0.03) 63%,rgba(124, 124, 124, 0.03) 63%, rgba(124, 124, 124, 0.03) 73%,rgba(195, 195, 195, 0.03) 73%, rgba(195, 195, 195, 0.03) 84%,rgba(187, 187, 187, 0.03) 84%, rgba(187, 187, 187, 0.03) 100%),linear-gradient(79deg, rgba(254, 254, 254, 0.03) 0%, rgba(254, 254, 254, 0.03) 27%,rgba(180, 180, 180, 0.03) 27%, rgba(180, 180, 180, 0.03) 33%,rgba(167, 167, 167, 0.03) 33%, rgba(167, 167, 167, 0.03) 34%,rgba(68, 68, 68, 0.03) 34%, rgba(68, 68, 68, 0.03) 63%,rgba(171, 171, 171, 0.03) 63%, rgba(171, 171, 171, 0.03) 100%),linear-gradient(109deg, rgba(71, 71, 71, 0.03) 0%, rgba(71, 71, 71, 0.03) 3%,rgba(97, 97, 97, 0.03) 3%, rgba(97, 97, 97, 0.03) 40%,rgba(40, 40, 40, 0.03) 40%, rgba(40, 40, 40, 0.03) 55%,rgba(5, 5, 5, 0.03) 55%, rgba(5, 5, 5, 0.03) 73%,rgba(242, 242, 242, 0.03) 73%, rgba(242, 242, 242, 0.03) 100%),linear-gradient(271deg, rgba(70, 70, 70, 0.03) 0%, rgba(70, 70, 70, 0.03) 11%,rgba(178, 178, 178, 0.03) 11%, rgba(178, 178, 178, 0.03) 23%,rgba(28, 28, 28, 0.03) 23%, rgba(28, 28, 28, 0.03) 72%,rgba(152, 152, 152, 0.03) 72%, rgba(152, 152, 152, 0.03) 86%,rgba(43, 43, 43, 0.03) 86%, rgba(43, 43, 43, 0.03) 100%),linear-gradient(90deg, rgb(27, 27, 27),rgb(1, 1, 1));}


::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Masiku';
  src: url(Fonts/Masiku.ttf);
}

/*Grid Wrapper*/

#home {
  color: #aaaaaf;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 100px;
  display: block;
  transition: transform 0.5s ease-in-out;
}

#home>section {
  position: relative;

}

#home>.header>div>h2 {
  width: 90%;
  position: relative;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  /* font-family: 'Masiku'; */

  /* text-shadow:0px 5px 10px rgba(0,0,0,1); */
}

#home>.pagetag {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 15px;
  font-size: 0.8em;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.1);
}

/*Heading*/
#home .logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* background-image:url("http://twths.org/wp/wp-content/uploads/2015/12/coldplay-a-head-full-of-dreams-album-art-560x560.jpg"); */
  background-size: 100%;
  background-position: 50% 50%;
  box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.5);
}

#home h2 {
  font-weight: 300;
  letter-spacing: 0.07em;
  margin-left: -20px;
}

#home h5 {
  margin-top: -20px;
  font-weight: 400;
  letter-spacing: 1.9em;
}

#home h2>span:first-child {
  font-size: 3em;
}

#home h2>span:nth-child(2) {
  font-size: 2em;
  margin-left: -0.2em;
  font-weight: 400;
}


#grid_wrapper {
  width: 100%;
  display: inline-block;
  margin-top: 60px;
  box-sizing: border-box;
  padding: 0px 20px;

  position:relative;
}

#grid_wrapper.init>card {
  transform: scale(0);
}

#grid_wrapper>card {
  display: block;
  width: 30%;
  height: 200px;
  float: left;
  transition: transform 0.3s cubic-bezier(0, 0, 0, 1);
  padding: 20px;
  box-sizing: border-box;
  background: transparent;
  
}

#grid_wrapper>card>div,
#content_wrapper>.clone {
  color: #ffffff;
  /* font-family: 'Masiku'; */
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  position: relative;
  transition: box-shadow 0.3s;
  overflow: hidden;
  border: 3px solid #ffffff;
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.2);
}

#grid_wrapper>card>div.active {
  opacity: 0;
}

#grid_wrapper>card>div:hover {
  box-shadow: 0px 30px 60px 0px rgba(255, 255, 255, 0.25);
  color: #ffffff;
  transform: scale(1.04);
  transition: 0.2s;
}
 /* .workshop:hover::after{
  content: "150+";
  background-color: #000000;
  color: #ffffff;
  font-family: 'Masiku';
  text-align: center;
  font-size: 55px;
  padding: 20px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  position: absolute;
  transition: 10s;
  overflow: hidden;
} */
/*
.cultural:hover::after{
  content: "150+";
  background: linear-gradient(to bottom, rgb(10, 10, 50) 0%, rgb(60, 10, 60) 100%);
  color: #ffffff;
  font-family: 'Masiku';
  text-align: center;
  font-size: 55px;
  padding: 20px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  position: absolute;
  transition: 10s;
  overflow: hidden;
}

.technical:hover::after{
  content: "150+";
  background: linear-gradient(to bottom, rgb(10, 10, 50) 0%, rgb(60, 10, 60) 100%);
  color: #ffffff;
  font-family: 'Masiku';
  text-align: center;
  font-size: 55px;
  padding: 20px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  position: absolute;
  transition: 10s;
  overflow: hidden;
}

.sports:hover::after{
  content: "150+";
  background: linear-gradient(to bottom, rgb(10, 10, 50) 0%, rgb(60, 10, 60) 100%);
  color: #ffffff;
  font-family: 'Masiku';
  text-align: center;
  font-size: 55px;
  padding: 20px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  position: absolute;
  transition: 10s;
  overflow: hidden;
}

.proshow:hover::after{
  content: "150+";
  background: linear-gradient(to bottom, rgb(10, 10, 50) 0%, rgb(60, 10, 60) 100%);
  color: #ffffff;
  font-family: 'Masiku';
  text-align: center;
  font-size: 55px;
  padding: 20px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  position: absolute;
  transition: 10s;
  overflow: hidden;
}
 */



#grid_wrapper>card>div:before,
#content_wrapper>.clone:before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100%;
  background-position: 50% 50%;
  background-blend-mode: overlay;
  background: transparent;
  transition: all 0.2s;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  filter: blur(3px);
  -ms-filter: blur(3px);
}

#grid_wrapper>card>div>span,
#content_wrapper>.clone>span {
  width: 100%;
  height: 50px;
  margin-top: -25px;
  top: 50%;
  position: absolute;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 1.5em;
  opacity: 1;
}

/*End of Section*/

/*NavBar Style*/
/*Comes up only when you're open in a section*/
nav.main {
  overflow-X: auto;
  overflow-Y: visible;
  z-index: +25;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  display: block;
  white-space: nowrap;
}

body:after,
#footer:after,
#footer:before {
  /* background: linear-gradient(90deg, rgba(190,78,114,1) 0%, rgba(254,117,98,1) 33.33%, rgba(86,72,105,1) 66.66%,  rgba(126,70,99,1) 100%) ;*/
  /* background-image: linear-gradient(90deg, rgba(107,208,228,1) 0%, rgba(96,78,177,1) 33%, rgba(200,142,102,1) 66%, rgba(201,85,169,1) 100%); w3c */
  content: "";
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 5px;
  z-index: +30;
}

nav.main.inactive>.tab {
  transform: rotateX(90deg) translateY(-25px);
}

nav.main>.tab {
  transform-origin: 50% 0% 0px;
  background: #000000;
  box-sizing: border-box;
  /* border-top:5px solid; */
  font-weight: 600;
  font-size: 0.9em;
  color: #ffffff;
  display: inline-block;
  width: 20%;
  text-align: center;
  line-height: 65px;
  height: 100%;
  border-top: rgba(0, 0, 0, 0.5) 5px solid;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
}

nav.main>.tab.active {
  z-index: +5000;
}

nav.main>.tab.active>span {
  background: #000000;
  color: #DF6EA4;
}

nav.main>.tab>span {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  display: block;
  transform: line-height 0.2s;
}

nav.main>.tab:not(.active)>span:hover {
  background: #DF6EA4;
}

nav.main>.tab:after {
  content: "";
  top: 0;
  right: 0;
  position: absolute;
  border-top: 0px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 0px;
  transition: all 0.2s;
}

nav.main>.tab:hover:after {
  content: "";
  right: 0;
  position: absolute;
  border-top: 0px solid transparent;
  border-bottom: 55px solid transparent;
  border-right: 10px solid rgba(0, 0, 0, 0.1);
}

/*End of Section*/

/*Ripple Styling*/
.ripple {
  position: fixed;
  animation: ripple 1s 1 ease-out;
  background: rgba(0, 0, 0, 0.5);
  margin: -250px;
  width: 500px;
  height: 500px;
  transform: scale(10);
  position: absolute;
  border-radius: 50%;
  opacity: 0;
}

/*One for the BIIIIG ONE!*/

.mega.ripple {
  border-radius: 50%;
  /* background:rgba(247, 2, 2, 0.1); */
  opacity: 1;
}

@keyframes ripple {
  0% {
    opacity: 1;
    transform: scale(0);
  }
}

/*End of Section*/

/*This one Wraps content of the tabs*/
#content_wrapper.inactive {
  pointer-events: none;
}

#content_wrapper {
  position: fixed;
  z-index: +20;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  perspective: 1000px;
}

#content_wrapper>div.content {
  z-index: +50;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  display: block;
  box-sizing: border-box;
  padding: 5%;
  padding-top: 100px;
}

#content_wrapper>div.clone.deactivate {
  /* background-color: #280E3E; */
  background-image: linear-gradient(90deg, transparent 0%, transparent 88%,rgba(200, 200, 200,0.07) 88%, rgba(200, 200, 200,0.07) 93%,transparent 93%, transparent 100%),linear-gradient(135deg, transparent 0%, transparent 83%,rgba(200, 200, 200,0.07) 83%, rgba(200, 200, 200,0.07) 91%,transparent 91%, transparent 100%),linear-gradient(0deg, transparent 0%, transparent 43%,rgba(200, 200, 200,0.07) 43%, rgba(200, 200, 200,0.07) 50%,transparent 50%, transparent 100%),linear-gradient(135deg, transparent 0%, transparent 16%,rgba(200, 200, 200,0.07) 16%, rgba(200, 200, 200,0.07) 56%,transparent 56%, transparent 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));

  width: 100%;
  height: 100vh;
  vertical-align: middle;
}

#content_wrapper>div.clone.deactivate>span {
  font-size: 50em;
  opacity: 0;
  animate: blow 0.5s 0s cubic-bezier(0, 0, 0, 1);
}

@keyframes blow {
  to {
    font-size: 50em;
    opacity: 0;
  }
}

#content_wrapper>div.clone.deactivate:before {
  animation: fadeOut 0.25s 0s 1 cubic-bezier;
  opacity: 0;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
}

#content_wrapper>div.clone {
  width: 100%;
  height: 100%;
  transform-origin: 50% 50%;
  position: absolute;
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%);
  animation: flipOpen 0.01s 0s 1 cubic-bezier(0, 0, 0, 1);
}

#content_wrapper.inactive>div.clone {
  animation: flipClose 0.01s 0s 1 cubic-bezier(0, 0, 0, 1);
  transform: translate(-50%, -50%);
  position: absolute;
}

@keyframes flipOpen {
  from {
    transform: translate(-50%, -50%);
  }
}

@keyframes flipClose {
  from {
    transform: translate(-50%, -50%);
  }
}

#content_wrapper>div.content>section.active {
  opacity: 1;
  transform: none;

}


#content_wrapper>div.content>section {
  color: #ffffff;
  position: absolute;
  top: 100px;
  left: 38%;
  font-size: 25px;
  opacity: 0;
  transition: all 0.5s;
  transform: translateY(-100px);
}

#content_wrapper.inactive>button{
  opacity: 0;
}

#content_wrapper>button {
  z-index: +100;
  transition: opacity 0.2s 0.1s;
  padding: 20px;
  font-family: "Masiku";
  color: #DF6EA4;
  background: none;
  outline: none;
  border: none;
  position: fixed;
  top: 80px;
  right: 0;
  cursor: pointer;
  margin-right: 94%;
}

/*End of Section*/

/* Footer Design
#footer
{
  font-size:0.9em;
  position:relative;
  margin-top:200px;
  width:100%;
  height:70px;
  text-align:center;
  color:rgba(255,255,255,0.3);
  z-index:+15;
}
#footer:before
{
  position:absolute;
  top:0;
  height:3px;
}
#footer:after
{
  position:absolute;
  bottom:1px;
  top:unset;
  height:3px;
} */
/*End of Section*/







.btn1 {
  width: 170px;
  height: 50px;
  background-color: black;
  color: #fff;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  overflow: hidden;
  margin-top: 10%;
  animation: fadeIn 1s ease-in;
  font-family: 'Masiku';
  /* margin-left: -10%; */
  

}

.btn1 span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: top 0.5s;
}

.btn1-text-one {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn1-text-two {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
}

.btn1:hover .btn1-text-one {
  top: -100%;
}

.btn1:hover .btn1-text-two {
  top: 50%;
}


.br{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  margin-left: -10%;
  margin-top: 5%;
}


.startup {
  background: transparent;
  color: #ffffff;
  border: 3px solid #ffffff;
  background: transparent;
  width: 100%;
  height: 166px;
  border-radius: 16px;
  position: relative;
  font-size: 1.5em;
  font-family: "Raleway", "Roboto", "Helvetica", sans-serif;
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.2);

}

.startup:hover {
  box-shadow: 0px 30px 60px 0px rgba(255, 255, 255, 0.25);
  color: #ffffff;
  background-color: transparent;
  transform: scale(1.04);
  transition: 0.2s;
}

.startup:hover .startup-text {
  color: #ffffff;
}





.te {
  margin-top: 10%;
}












.full-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #280E3E; */
  background-image: linear-gradient(90deg, transparent 0%, transparent 88%,rgba(200, 200, 200,0.07) 88%, rgba(200, 200, 200,0.07) 93%,transparent 93%, transparent 100%),linear-gradient(135deg, transparent 0%, transparent 83%,rgba(200, 200, 200,0.07) 83%, rgba(200, 200, 200,0.07) 91%,transparent 91%, transparent 100%),linear-gradient(0deg, transparent 0%, transparent 43%,rgba(200, 200, 200,0.07) 43%, rgba(200, 200, 200,0.07) 50%,transparent 50%, transparent 100%),linear-gradient(135deg, transparent 0%, transparent 16%,rgba(200, 200, 200,0.07) 16%, rgba(200, 200, 200,0.07) 56%,transparent 56%, transparent 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
  /* background: url(par.jpg);
  background-size: cover; */
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000;
  transform: scale(0);
  animation: grow 0.08s ease forwards;
  overflow: auto;
  margin-top: 4%;
}

/* Animation to make the pop-up appear */
@keyframes grow {
  to {
    transform: scale(1);
  }
}



/* Close button styling */
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: 2px solid transparent;
  color: #DF6EA4;
  font-family: 'Masiku';

  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-right: 93%;

}

/* Hover effect for the close button */
.close-btn:hover {
  background-color: #280E3E;
  transform: scale(1.05);
}













.image-container1 {
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 120px;
  margin-top: 65%;
  margin-bottom: 7%;
  /* border: 2px solid white; */
  width: 1600px;
  

}

figure {
  margin: 0;
  text-align: center;
  /* border: 2px solid white; */
  border-radius: 20px;
  width: 300px;
  height: 400px;
  /* backdrop-filter: blur(15px); */
  box-shadow:0px 0px 30px 0px rgba(255, 255, 255, 0.2);

}
.amt{
  font-family: monospace;
  font-size: 20px;
  color: #fff;
  margin-top: 10%;
}

.con1 {
  object-fit: cover;
  border-radius: 500px;
  border: 2PX solid #ffffff;
  height: 230px;
  width: 230px;
  cursor: pointer;
  animation: fadeIn 1s ease-in;
  
}

figcaption {
  margin-top: 20px;
  font-size: 20px;
  color: #ffffff;
  /* font-family: 'Masiku'; */

}

figcaption p {
  margin: 5px 0;
}

.ONE {
  color: gray;
  font-family: 'Masiku';


}


h3 {
  margin-top: -2%;

}

figure:hover img {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease, filter 1s ease;
}
  
figure:hover {
  transform: translateY(-10px);
  transition: transform 0.5s ease, filter 1s ease;
  box-shadow: 0px 30px 60px 0px rgba(255, 255, 255, 0.25);

}

/* .image-container1:hover figure {
  filter: blur(5px);
}
 .image-container1 figure:hover {
  filter: none;
}  */
















.blur-container {
  position: relative;
  top: -40px;
  width: 1330px;
  height: 750px;
  background: rgba(255, 255, 255, 0.082);
  /* Semi-transparent background */
  backdrop-filter: blur(10px);
  /* Blur effect */
  border-radius: 15px;
  /* Rounded corners */
  animation: fadeIn 1s ease-in;
  /* Optional shadow */

}

.quiz {
  height: 400px;
  width: 400px;
  position: relative;
  border-radius: 50%;
  top: 26%;
  left: -30%;
  margin-left: 90%;
  margin-right: -10%;
  margin-top: -2%;
  animation: fadeIn 1s ease-in;


}

.tent {
  width: 700px;
  text-align: left;
  margin-left: -35%;
  margin-top: -21%;
  height: 700px;
  color: blanchedalmond;

}

#tent2{
  margin-top: -25%;
}

#tent3{
  margin-top: -25%;
}

#q {
  font-size: 35px;
  font-weight: bolder;
  font-family: 'Masiku';
  letter-spacing: 8px;
}





.one {
  font-size: 20px;
  font-weight: bold;
  font-family: "PT Sans", serif;
  letter-spacing: 3.5px;
}

.two {
  font-size: 25px;
  font-family: "PT Sans", serif;
  letter-spacing: 5px;

}

.x{
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Masiku';
  cursor: pointer;
  border: 2px solid transparent;
  width: 1%;
  background: transparent;
  
}

.x:hover{
  color: #DF6EA4;
  transform: scale(1.3);
  transition: 0.2s;
}






.glasscon{
  border: 2px solid white;
  width: 350px;
  height: 400px;

}